<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

    <!--&lt;!&ndash;<bean class="test.TestService" id="testService">&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="name" value="spring"></property>&ndash;&gt;-->
    <!--&lt;!&ndash;</bean>&ndash;&gt;-->

    <!--&lt;!&ndash; data connection &ndash;&gt;-->
    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">-->
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/com.pl"></property>-->
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="123456"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; session factory &ndash;&gt;-->
    <!--<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"></property>-->
        <!--<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>-->
        <!--<property name="mappingLocations" value="classpath:mapping/*.hbm.xml"></property>-->
        <!--&lt;!&ndash;<property name="hibernateProperties">&ndash;&gt;-->
            <!--&lt;!&ndash;<props>&ndash;&gt;-->
                <!--&lt;!&ndash;<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>&ndash;&gt;-->
                <!--&lt;!&ndash;<prop key="hibernate.show_sql">true</prop>&ndash;&gt;-->
                <!--&lt;!&ndash;<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/com.pl</prop>&ndash;&gt;-->
                <!--&lt;!&ndash;<prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>&ndash;&gt;-->
            <!--&lt;!&ndash;</props>&ndash;&gt;-->
        <!--&lt;!&ndash;</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="mappingLocations" value="classpath:mapping/*.xml"/>&ndash;&gt;-->
        <!--<property name="packagesToScan">-->
            <!--<list>-->
                <!--<value>com.pl.model</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 1. 配置 hibernate 的事务管理器 &ndash;&gt;-->
    <!--<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->

    <!--&lt;!&ndash;hibernate加入&ndash;&gt;-->
    <!--<bean id="Administrator" class="com.pl.service.impl.AdministratorImpl">-->
        <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->


<!--</beans>-->